## 1. 표준화 
## 2. 정규화

In [2]:
# 모듈 가져오기
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [3]:
# 데이터 가져오기 - iris
iris = pd.read_csv('./Data/iris.csv')

In [4]:
# 데이터 확인 - head()
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [10]:
# 1-1. 표준화 - 데이터 분할
X = iris.drop('class', axis = 1)
y = iris['class']

In [11]:
# 1-2. 표준화 - StandardScaler
X_scale = pd.DataFrame(StandardScaler().fit_transform(X), columns = X.columns)

In [12]:
# 2-1. 정규화 - MinMaxScaler
X_scale2 = pd.DataFrame(MinMaxScaler().fit_transform(X), columns = X.columns)

In [13]:
# 2-2. 정규화 - 데이터 확인
X_scale2

     sepal_length  sepal_width  petal_length  petal_width
0        0.222222     0.625000      0.067797     0.041667
1        0.166667     0.416667      0.067797     0.041667
2        0.111111     0.500000      0.050847     0.041667
3        0.083333     0.458333      0.084746     0.041667
4        0.194444     0.666667      0.067797     0.041667
..            ...          ...           ...          ...
145      0.666667     0.416667      0.711864     0.916667
146      0.555556     0.208333      0.677966     0.750000
147      0.611111     0.416667      0.711864     0.791667
148      0.527778     0.583333      0.745763     0.916667
149      0.444444     0.416667      0.694915     0.708333

[150 rows x 4 columns]