# Carseats 데이터는 자동차 좌석에 대한 판매정보이며, 변수의 설명은 아래와 같다.
|변수|설명|
|:--|:--:|
|Sales|각 지역의 천 달러 단위 매출|
|CompPrice|각 위치에서 경쟁업체가 부과하는 가격|
|Income|지역 소득 수준|
|Advertising|각 지역의 광고 예산|
|Population|지역의 인구(단위: 1000)|
|Price|자동차 좌석의 가격|
|ShelveLoc|보관 장소의 품질|
|Age|인구의 연령대|
|Education|지역의 교육수준|
|Urban|도시인지 혹은 아닌지의 여부|
|US|미국인지 혹은 아닌지의 여부|

## 1) Urban변수에 따른 Sales의 차이가 있는지를 통계적으로 검증하기 위한 통계분석을 수행하고, 결과를 해석하시오(데이터는 정규성을 만족한다고 가정하고 유의수준 0.05 하에서 검정)

In [58]:
# 모듈 가져오기
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
from scipy.stats import levene

In [44]:
# 데이터 가져오기
Carseats = pd.read_csv('./Data/data_edu/모의고사 3회/Carseats.csv')

In [45]:
# 데이터 확인 - head()
Carseats.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [46]:
# 데이터 컬럼 정보 및 데이터 유형 확인
Carseats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [47]:
# Urban 데이터 확인
Carseats['Urban'].unique()

array(['Yes', 'No'], dtype=object)

In [48]:
# Yes = 1, No = 0 으로 데이터 변경
Carseats['Urban'][Carseats['Urban'] == 'Yes'] = 1
Carseats['Urban'][Carseats['Urban'] == 'No'] = 2

<ipython-input-48-9a0d21f7f9ff>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Carseats['Urban'][Carseats['Urban'] == 'Yes'] = 1
<ipython-input-48-9a0d21f7f9ff>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Carseats['Urban'][Carseats['Urban'] == 'No'] = 2

In [49]:
# 데이터 확인
Carseats

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,1,Yes
1,11.22,111,48,16,260,83,Good,65,10,1,Yes
2,10.06,113,35,10,269,80,Medium,59,12,1,Yes
3,7.40,117,100,4,466,97,Medium,55,14,1,Yes
4,4.15,141,64,3,340,128,Bad,38,13,1,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,1,Yes
396,6.14,139,23,3,37,120,Medium,55,11,2,Yes
397,7.41,162,26,12,368,159,Medium,40,18,1,Yes
398,5.94,100,79,7,284,95,Bad,50,12,1,Yes
399,9.71,134,37,0,27,120,Good,49,16,1,Yes

In [55]:
# 등분산성 확인
col1 = Carseats[Carseats['Urban'] == 1]['Sales']
col2 = Carseats[Carseats['Urban'] == 2]['Sales']
levene(col1, col2)

LeveneResult(statistic=2.9559854965252977e-06, pvalue=0.9986290607894824)

In [56]:
# 등분산성 확인 결과
# p-value > 0.05 => 귀무가설 채택
# 등분산성 만족

In [60]:
# t-test 실시
ttest_ind(col1, col2)

Ttest_indResult(statistic=-0.30765346670661126, pvalue=0.7585069603942775)

In [ ]:
# p-value < 0.05
# 귀무가설 기각하지못함
# 통계적으로 유의한 차이가 있다고 볼 수 없다.