In [1]:
# 모듈 가져오기
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
# 데이터 로드 - 와인품질 데이터
wine_quality = pd.read_csv('./Data/winequality-red.csv', sep = ';')

# 데이터 탐색
## 1. 데이터 프레임 확인 : head(), tail(), sample()
## 2. 데이터 shape 확인
## 3. 데이터 타입 확인 : info()
## 4. 데이터 컬럼 확인 : DataFrame.columns

In [3]:
# 데이터 확인 - head
wine_quality.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
# 데이터 확인 - tail
wine_quality.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [5]:
# 데이터 확인 - sample
wine_quality.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1038,8.7,0.41,0.41,6.2,0.078,25.0,42.0,0.99530,3.24,0.77,12.6,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.5,7
591,6.6,0.39,0.49,1.7,0.070,23.0,149.0,0.99220,3.12,0.50,11.5,6
1140,7.3,0.40,0.30,1.7,0.080,33.0,79.0,0.99690,3.41,0.65,9.5,6
1332,8.4,0.39,0.10,1.7,0.075,6.0,25.0,0.99581,3.09,0.43,9.7,6

In [6]:
# 데이터 shape 확인
wine_quality.shape

(1599, 12)

In [7]:
# 데이터 타입 확인
wine_quality.info()
# quality를 제외한 나머지는 float
# quality만 int

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [8]:
# 데이터 컬럼 확인
wine_quality.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

# 데이터 전처리
## 1. 데이터 column명 확인
### - 데이터 컬럼명에 공백이 포함 -> 공백을 "_" 로 바꿔준다.

In [12]:
# 데이터 컬럼명 수정
wine_quality.rename(columns = lambda x : x.replace(' ', '_'), inplace = True )
# 다른방법으로도 수정 해보자.

In [13]:
# 데이터 컬럼 확인
wine_quality.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

# 모델 선정
## 1. 단순회귀모델
<hr></hr>
<h2> $ \hat{Y}_{pred} = \hat{\beta_{0}} + \hat{\beta_{1}}X_{test} $ </h2>

<h2> $ \hat{\beta_{1}}= \frac{\sum_{i=1}^{n} (X_{i} - \bar{X}_{train})(Y_{i} - \bar{Y}_{train})}{\sum_{i=1}^{n}(X_{i} - \bar{X}_{train})} = \frac{cov(X_{train},Y_{train})}{var(X_{train})}  $ </h2>

<h2>$ \hat{\beta_{0}} = \bar{Y}_{train} - \hat{\beta_{1}}\bar{X}_{train}   $</h2>

<h3>$   $</h3>
<hr></hr>



### 1.1 독립변수(X) : alcohol
### 1.2 종속변수(Y) : quality
### 1.3 분석방향 : 알콜 도수에 따른 red wine의 품질 확인

In [15]:
# 단순 회귀 모델 적용
# 독립변수 : alcohol
# 종속변수 : quality
# 알콜 함량에 따른 와인 품질이 어떤지 분석하는것이 목적
X = wine_quality['alcohol']
Y = wine_quality['quality']
# 데이터 프레임에서 -> 시리즈로 차원 축소가 일어남

In [16]:
# train, test 데이터 분할
# train : test = 7 : 3
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size = 0.7, random_state = 42)

In [20]:
# 데이터 분할 확인
# 데이터 shape만 재확인한다
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)
print('train 데이터의 크기: ', 1119/wine_quality.shape[0])
print(type(X_train))

(1119,) (480,) (1119,) (480,)
train 데이터의 크기:  0.699812382739212
<class 'pandas.core.series.Series'>

In [22]:
# Series -> DataFrame으로 전환
X_train = X_train.to_frame()
X_test = X_test.to_frame()
Y_train = Y_train.to_frame()
Y_test = Y_test.to_frame()

In [50]:
# train 데이터에 대해서 평균을 계산한다
alcohol_mean = round(float(X_train.mean()),2)
quality_mean = round(float(Y_train.mean()),2)

In [51]:
# 평균값  확인
print(alcohol_mean, quality_mean)

10.42 5.62

In [62]:
# 분산값 계산
alcohol_variance = round(float(((X_train - alcohol_mean)**2).sum()) ,2)
quality_variance = round(float(((Y_train - quality_mean)**2).sum()), 2)
# 브로드캐스팅 이용

In [63]:
# 분산값 확인
print(alcohol_variance, quality_variance)

1255.6 737.1

In [78]:
# 공분산 값 계산
covariance = round(((X_train - alcohol_mean).to_numpy() * (Y_train - quality_mean).to_numpy()).sum(), 2)
# 여러가지 방법으로 계산해보자

In [79]:
# 공분산 값 확인
covariance

473.34

In [81]:
# 회귀 계수 구하기
b1 = covariance / alcohol_variance
b0 = quality_mean - b1*alcohol_mean

In [109]:
# 회귀식 구하기
Y_pred = b0 + b1*X_test

In [110]:
# 예측값 확인
Y_pred

       alcohol
803   5.310874
124   5.273176
350   5.423969
682   5.386270
1326  5.687857
...        ...
1468  5.461667
495   5.838650
1325  5.687857
514   6.140237
576   5.461667

[480 rows x 1 columns]

In [130]:
# R_sqrd값 구하기
R_sqrd = 1- round(((Y_test.to_numpy() - Y_pred.to_numpy())**2).sum() / ((Y_test.to_numpy() - float(Y_test.mean()))**2).sum(), 4)

In [131]:
# R_sqrd값 확인
R_sqrd

0.18500000000000005