In [64]:
# 모듈 가져오기
import pandas as pd
from scipy.stats import chisquare
from scipy.stats import chi2_contingency

# 연습용1

In [65]:
# 데이터 만들기
data = pd.DataFrame(
    data = {
        '지역' : ['서울','서울','인천','제천','부산','전주','익산','군산','남양주'],
        '성별' : ['남','여','여','여','남','남','여','여','남'],
        '연령' : ['20대', '20대', '30대','20대','40대','10대','30대','20대','30대']
    }
    
)

In [66]:
# 데이터 확인
data

    지역 성별   연령
0   서울  남  20대
1   서울  여  20대
2   인천  여  30대
3   제천  여  20대
4   부산  남  40대
5   전주  남  10대
6   익산  여  30대
7   군산  여  20대
8  남양주  남  30대

In [67]:
# 연령별 성별 교차표 만들기 -> 빈도수만 확인가능
# margins 인자를 True로 해서 총합을 볼 수 있다.
crosstab1 = pd.crosstab(data['성별'], data['연령'], rownames = ['성별'], colnames = ['연령'], margins = True)

In [68]:
# 성별, 연령별, 지역 빈도수 교차표 만들기
crosstab2 = pd.crosstab([data['성별'],data['연령']],data['지역'], margins = True)

In [69]:
crosstab1

연령   10대  20대  30대  40대  All
성별
남      1    1    1    1    4
여      0    3    2    0    5
All    1    4    3    1    9

In [70]:
chisquare(crosstab1.loc['남', :], crosstab1.loc['여', :])

C:\Users\bcduc\anaconda3\lib\site-packages\scipy\stats\stats.py:5996: RuntimeWarning: divide by zero encountered in true_divide
  terms = (f_obs.astype(np.float64) - f_exp)**2 / f_exp

Power_divergenceResult(statistic=inf, pvalue=0.0)

# 연습용2

In [71]:
# 데이터 가져오기
tennis = pd.read_csv('./Data/tennis.csv')

In [72]:
# 데이터 확인하기
tennis

      일  전망  기온  습도  바람 테니스 유무
0    D1  맑음  높음  높음  약함    아니요
1    D2  맑음  높음  높음  강함    아니요
2    D3  흐림  높음  높음  약함      예
3    D4   비  보통  높음  약함      예
4    D5   비  낮음  보통  약함      예
5    D6   비  낮음  보통  강함    아니요
6    D7  흐림  낮음  보통  강함      예
7    D8  맑음  보통  높음  약함    아니요
8    D9  맑음  낮음  보통  약함      예
9   D10   비  보통  보통  약함      예
10  D11  맑음  보통  보통  강함      예
11  D12  흐림  보통  높음  강함      예
12  D13  흐림  높음  보통  약함      예
13  D14   비  보통  높음  강함    아니요

In [73]:
# 기온에 따른 테니스유무 교차표 만들기
crosstab1 = pd.crosstab(tennis['기온'], tennis['테니스 유무'])
crosstab1

테니스 유무  아니요  예
기온
낮음        1  3
높음        2  2
보통        2  4

In [74]:
# 적합성 검정 - chisquare
# chisquare 통계량이 클수록 적합도가 낮다
# chisquare 통계량이 작을수록 적합도가 높다
chisquare(crosstab1['아니요'], crosstab1['예'])

Power_divergenceResult(statistic=2.333333333333333, pvalue=0.31140322391459774)

In [75]:
# 습도에 따른 테니스유무 교차표 만들기
crosstab2 = pd.crosstab(tennis['습도'], tennis['테니스 유무'])
crosstab2

테니스 유무  아니요  예
습도
높음        4  3
보통        1  6

In [76]:
chisquare(crosstab2['아니요'], crosstab2['예'])

Power_divergenceResult(statistic=4.5, pvalue=0.033894853524689295)

# 카이제곱검정
- 카이 제곱 독립성 검정은 범주형 데이터의 통계 분석에 가장 보편적으로 사용되는 검정 중 하나.
- 2개의 범주형 변수 X와 Y가 주어졌을 때, 카이제곱 독립성 검정은 두 변수 사이에 통계적 상관성이 존재하는지를 판단

<h2>$ \chi^2 = \sum_{i}\frac{(o_{i}-e_{i})^2}{e_{i}} $</h2>
<h3>$ o_{i} = 관측값, e_{i} = 기댓값 $</h3>

In [77]:
# 예제 데이터
data = pd.DataFrame(
    data = {
        '빈번한 운동' : [7,87,12,9],
        '전혀 운동 안 함' : [1, 18, 3, 1],
        '가끔 운동' : [3, 84, 4, 7]
    },
    index = ['심한 흡연','비 흡연', '가끔씩 흡연', '정기적으로 흡연']
    
)

In [78]:
# 데이터 확인
data

          빈번한 운동  전혀 운동 안 함  가끔 운동
심한 흡연          7          1      3
비 흡연          87         18     84
가끔씩 흡연        12          3      4
정기적으로 흡연       9          1      7

In [79]:
# 교차분석표 만들기
data['합'] = data.sum(axis = 1)
data.loc['합',:] = data.sum(axis = 0)

In [80]:
# 교차분석표 데이터타입 변경
data = data.astype('int')

In [81]:
# 교차분석표 확인
data

          빈번한 운동  전혀 운동 안 함  가끔 운동    합
심한 흡연          7          1      3   11
비 흡연          87         18     84  189
가끔씩 흡연        12          3      4   19
정기적으로 흡연       9          1      7   17
합            115         23     98  236

In [82]:
# 분석만을 위한 데이터 추출
data_anal = data.iloc[:4,:3]
data_anal

          빈번한 운동  전혀 운동 안 함  가끔 운동
심한 흡연          7          1      3
비 흡연          87         18     84
가끔씩 흡연        12          3      4
정기적으로 흡연       9          1      7

In [85]:
result = chi2_contingency(data_anal)
result

(5.488545890584232,
 0.48284216946545633,
 6,
 array([[ 5.36016949,  1.0720339 ,  4.56779661],
        [92.09745763, 18.41949153, 78.48305085],
        [ 9.25847458,  1.85169492,  7.88983051],
        [ 8.28389831,  1.65677966,  7.05932203]]))

In [96]:
print('chi-square statistics : ', round(result[0],3))
print('p-value : ', round(result[1],3))
print('degree of freedom : ', round(result[2],3))
pd.DataFrame(
    data = result[3],
    index = data_anal.index,
    columns = data_anal.columns
)

chi-square statistics :  5.489
p-value :  0.483
degree of freedom :  6

             빈번한 운동  전혀 운동 안 함      가끔 운동
심한 흡연      5.360169   1.072034   4.567797
비 흡연      92.097458  18.419492  78.483051
가끔씩 흡연     9.258475   1.851695   7.889831
정기적으로 흡연   8.283898   1.656780   7.059322